<section>
  <div class="href-target" id="intro"></div>
  <p>
    Just a simple farmer application
  </p>
  <strong>Requirements:</strong>
  <ul>
    <li>
      Create a web application for farm management that consists of one page. It will be used only by one
      farmer.
    </li>
    <li>
      He/she can list, add, and remove animals in the system. Every animal has only a “Name”
      property that should be unique.
    </li>
    <li>
      The frontend should be written on Angular. The backend is on ASP.NET Core. Use in-memory storage on
      the server side.
    </li>
    <li>The source code should be production ready.</li>
  </ul>
</section>
